/* RESET */ 

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Michroma', sans-serif;
}

/* Estilos del body */

body{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

#particles-js{
    background-color: #030514;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -1;
} 

#principal{
    width: 100vw;
    grid-template-areas: "resultados resultados resultados"
                         "puntuaciones juego juego ";

    justify-content: center;
    align-self: center;
    margin: 10px;
    gap: 20px;
    color: white;
}


/* Estilos del Formulario */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 1.5rem;
}
form input {
    text-align: center;
    background: transparent;
    border-radius: 5px;
    border: solid white 1px;
    color: white;
    height: 25px;
    width: 285px;
}

form button {
    height: 50px;
    width: fit-content;
    color: white;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 5px;
    background: rgb(255, 1, 1);
}

/* Estilos del Juego */
#gridJuego{
    display: none;
}

h1 {
    grid-area: resultados;
    text-align: center;
    font-size: 1.5rem;
}

#divPuntuaciones{
    grid-area: puntuaciones;
    height: 600px;
    width: fit-content;
    overflow: scroll;
    align-self: flex-start;
    border: solid rgb(255, 255, 255) 5px;
    border-radius: 2px;
}

#divPuntuaciones ul li {
    color: white;
    background-color: transparent;
}

.grid {
    grid-area: juego;
    width: 600px;
    height: 600px;
    border: solid rgb(255, 255, 255) 5px;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height: 40px;
    width: 40px;
}

.invasor {
    background-image:url(../img/invasor.png);
    background-size: 40px;
}

.defensor {
    background-image: url(../img/nave.png);
    background-size: 40px;
}

.laser {
    background-image: url(../img/disparo.png);
    background-size: 40px;
}

.explosion{
    background-image: url(../img/explosion.png);
    background-size: 40px;
}
